
body {
    background-color: #1A120B;
}
h1 {
    padding-right: 40px;
    color: #FE7A36;
    font-family: 'Roboto', sans-serif;
}
 
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}   

.Popular-anime {
  position: relative;
  border-radius: 10px;
  padding: 5px;
  padding-top: 20px;
  margin: 0;
  height: 30px;
  width: 100%;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  background: #4F4A45;
  left: 50px;
  top: 50px;

}

.Popular-anime:hover {
 background-color: #6C5F5B;
}

.current-anime {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  height: 30px;
  width: 100%;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  background: #4F4A45;
  top: -100px;
  left: 43%;

}

.current-anime:hover {
 background-color: #6C5F5B;
}


.winter-list {
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 30px;
  color: white;
}


.cardfirst {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  list-style: none;
  
}

.cardfirst li h4 a {
  text-decoration: none;
  color: white;
}


.cardfirst li h4 a:hover {
  color: #FE7A36;
  

}

.cardfirst li button {
  position: relative;
  top: -45px;
  padding: 3px;
  font-family: 'Protest Revolution', sans-serif;
  border-radius: 5px;
  transition: .7s;
  
  

}

.cardfirst li button:hover {
  background-color: #192655;
  color:#F3F8FF;
  box-shadow: 1px 2px 3px  black;
  transform: translate(-4px,-4px);
  

}



ul {
    list-style: none;
    background-color: #1F1717;
}


ul li {
    display: inline-block;
    position: relative;
    font-size: 15px;

}

ul li a {
    display: block;
    padding: 10px 30px;
    color: #FFF6E9;
    text-decoration: none;
    text-align: center;
}

.dropdown li a{
    position: relative;
   font-size: 12px;
   width: 100%;
   font-weight: bold;
   color:#EEEDED;
   font-weight: bold;
   right: 25px;
}

.dropdown li a:hover {
    font-weight: bold;
    font-size: 15px;
    color: #FE7A36;
    width: 100%;
}

ul li ul.dropdown {
width: 100%;
background-color: transparent;
position: absolute;
z-index: 1; 
display: none;
}

ul li:hover ul.dropdown {
    display: block; 
}

.btn-log label {
    position: relative;
    color: black;
    background: white;
    font-size: 8px;
    top: -28px;
    left: 800px;
    padding: 5px; 
    border-radius: 5px;  
    transition: .5s;      
}

.btn-log label:hover {
    color: white;
    background: #FE7A36;  
    font-size: 12px; 
    
}

.middle-container {
    height: 100px;
    width: 100%;
    
}

.btn-log input {
  position: relative;
  width: 50px;
  top: -28px;
  left: 800px; 
  font-weight: bold;
  height: 13px;
}

input {
  width: 60px;
  height: 15px;
}

input:hover {
  width: 100px;
  transition: all 1s ease-out;
  

}

.middle-container, h2, p {
    color: white;
    position: relative;
    padding: 0px;
    top: 10px;
}

.selector ul li {
    background-color:transparent;
    transition: .5s;
    font-family: sans-serif;
    border-radius: 5px;
}

.selector ul li:hover {
    background-color: #192655;
    font-size: 1rem;
    box-shadow: 2px 2px #F3F8FF;
}

.card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    list-style: none;
    height: 750px;
    
}

.card li h4 a {
    text-decoration: none;
    color: white;
}


.card li h4 a:hover {
    color: #FE7A36;
    

}

.card li button {
    position: relative;
    top: -45px;
    padding: 3px;
    font-family: 'Protest Revolution', sans-serif;
    border-radius: 5px;
    transition: .7s;
    
    

}

.card li button:hover {
    background-color: #192655;
    color:#F3F8FF;
    box-shadow: 1px 2px 3px  black;
    transform: translate(-4px,-4px);
}


.anime-picture {
    border-radius: 20px;
    background: transparent;
    padding: 10px;
}


.fourt-container {
display: flex;
gap: 20px;
background-color: #4F4A45;
}

.fourt-container .card {
display: grid;
grid-template-columns: repeat(3,.7fr);
grid-template-rows: repeat(2,1fr);
padding-bottom: 50px;
height: 500px;
}


.fourt-container .details h3 {
  position: relative;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 30px;
  font-size: 30px;
  left: 40px;
  top: 10px;
}

.fourt-container .details p {
  position: relative;
  color: white;
  font-family: sans-serif;
  padding-bottom: 40px;
  font-size: 15px;
  left: 40px;
  top: 10px;
}


.fourt-container .details .button-select{
    position: relative; 
    padding: 10px;
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    list-style: none;
    margin: 5px 2px;
    left: 40px;
}

.fourt-container .details .button-select .blue-select {
  color: white;
  text-decoration: none;
  background-color: #11009E;
  padding: 15px;
  margin-right: 10px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.fourt-container .details .button-select .blue-select:hover {
  color: #11009E;
  background-color: white;
  font-weight: bold;
}

.fourt-container .details .button-select .orange-select {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #FE7A36;
  padding: 15px;
  margin-right: 10px;
  border-radius: 10px;
}

.fourt-container .details .button-select .orange-select:hover {
  color: #FE7A36;
  background-color: white;
  font-weight: bold;
}


.Magefooter h4 {
  padding-bottom: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  width: 100%;
  margin-bottom: -100 px;
}

.new-list {
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
  color: white;
}

.newanime .card {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3,1fr); 
  width: 80%;
  gap: 20px;
  height: 600px;
  left: 100px;

}

.Magefooter {
    color: wheat;
}

.fa {
    padding: 7px;
    font-size: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
  }

  .fa-Twitter {
    background-color: white;
    color: blue;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
  }

  .fa-Instagram {
    background-color: #B70404;
    color: black;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
  }

  .fa-Youtube {
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
  }

  .social-media .fa:hover {
    font-size: 15px;
  }


  footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 200px;
    align-items: center;
    text-align: center;
    background-color: #211717;
  }

 

  .Magefooter button {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: .5s;
  }

  .Magefooter button:hover {
    color: white;
    background-color: #FE7A36;
    font-size: 18px;
  }

  .Magefooter h5  {
    color: white;
    padding-top: 10px;
    
  }

  .Magefooter h5 a {
    text-decoration: none;
    list-style: none;
    font-size: 10px;
    font-weight: bold;
    color: aliceblue;
  }

  .Magefooter h5 a:hover {
   background: white;
    color: blue;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
  }

  .contact-us li {
    display:list-item;
    background-color: #211717;
  }

  .contact-us li:hover {
    font-weight: bold;
  }